*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --White: hsl(0, 0%, 100%);
  --LightGrey: hsl(217, 12%, 63%);
  --MediumGrey: hsl(215, 18%, 19%);
  --DarkBlue: hsl(215, 20%, 16%);
  --VeryDarkBlue: hsl(228, 11%, 9%);
  --Orange: hsl(25, 97%, 53%);
}

body {
  background-color: var(--VeryDarkBlue);
  font-family: "Overpass", sans-serif;
  height: 100vh;
  display: grid;
  place-items: center;
}

main {
  width: 80%;
  max-width: 450px;
}
.ratingpage {
  background-color: var(--DarkBlue);
  color: var(--White);
  padding: 2em;
  width: 100%;
  border-radius: 20px;
  display: grid;
  gap: 1em;
}

.ratingpage .star {
  display: grid;
  place-items: center;
  height: 3em;
  width: 3em;
  background-color: var(--MediumGrey);
  border-radius: 50%;
}

.ratingpage h1 {
  margin-top: 0.5em;
}

.ratingpage .para {
  font-weight: 400;
  opacity: 40%;
}

.allratingnum {
  margin-top: 1em;
  display: flex;
  gap: 1em;
  justify-content: space-between;
}

.ratringnum {
  display: grid;
  place-items: center;
  height: 3em;
  width: 3em;
  background-color: var(--MediumGrey);
  border-radius: 50%;
  transition: background-color 400ms ease-in-out;
}

.ratringnum:hover {
  background-color: var(--LightGrey);
  cursor: pointer;

  transition: background-color 300ms ease-in-out;
}

input[type="radio"]:checked + label {
  background-color: var(--Orange);
  color: var(--White);
  transition: background-color 150ms ease-in-out;
}

input[type="radio"] {
  display: none;
}

.submit {
  margin-top: 1em;
  background-color: var(--Orange);
  height: 3em;
  width: 100%;
  border-radius: 40px;
  outline: none;
  border: none;
  font: "Overpass";
  font-weight: 700;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  color: var(--White);
  transition: background-color, color 250ms ease-in-out;
}

.submit:hover {
  background-color: var(--White);
  color: var(--Orange);
  cursor: pointer;
  transition: background-color, color 250ms ease-in-out;
}

.thankyoupage {
  display: none;
  width: 80%;
  max-width: 450px;
  background-color: var(--DarkBlue);
  border-radius: 20px;
  padding: 2em;
  gap: 1em;
}

.tq {
  color: var(--White);
  font-size: xx-large;
  font-weight: bold;
}

.message {
  background-color: var(--MediumGrey);
  padding: 0.25em 0.5em;
  border-radius: 20px;
  color: var(--Orange);
}

.msg {
  color: var(--White);
  opacity: 0.4;
}
